@model Notice

@{
    ViewData["Title"] = "AddNotice";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<h1>AddNotice</h1>

<h4>Notice</h4>
<hr />
<form method="post">
<table>
    <tr>
        <td>
            ToUserId
        </td>
        <td>
            @Html.DropDownList("ToUserId", TempData["UsersList"] as List<SelectListItem>)
        </td>

    </tr>
    <tr>
        <td>
            NoticeText
        </td>
        <td>
            <input type="text" id="noticetext" name="noticetext" />
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <input type="submit" value="Save" asp-controller="SuperAdmin" asp-action="SaveNotice" />
        </td>      
    </tr>
</table>
</form>

