@using DevExpress.AspNetCore;
@using DevExpress.AspNetCore.RichEdit;

@{
    Layout = "~/Views/Shared/_DevExtremeLayout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
@*
<link href="~/node_modules/devexpress-richedit/dist/dx.richedit.css" rel="stylesheet" />*@

<link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

<script src="~/js/devextreme/jszip.min.js"></script>
@*
<script src="~/node_modules/devexpress-richedit/dist/dx.richedit.js"></script>*@


@(Html.DevExpress().RichEdit("rich-container")
    .Height(600)
    .ConfirmOnLosingChanges(c => c.Enabled(false))
    .Open("~/TypingWebApp/SpeedPassageFiles/Word/Passage1.docx")
)

<div id='rich-container' style="width: 100%; height: 900px"></div>

